*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.weather-display {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 10px;
  border: 1px solid black;
}

.toggle-btn {
  width: 50px;
  height: 25px;
  background: #ccc;
  border-radius: 25px;
  border: none;
  position: relative;
  cursor: pointer;
  transition: 0.3s;
}

.toggle-btn[data-state='us'] {
  background: #4caf50;
}

.toggle-slider {
  position: absolute;
  top: 3px;
  left: 3px;
  width: 19px;
  height: 19px;
  background: white;
  border-radius: 50%;
  transition: 0.3s;
}

.toggle-btn[data-state='us'] .toggle-slider {
  left: 28px;
}
