*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.weather-display {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 10px;
  border: 1px solid black;
}
